body {
    background-color: white;
    font-size: 20px;
}

#title, #subtitle {
    color: black;
    text-align: center;
}

#subtitle {
  padding-bottom: 1rem;
}

/* the following is used for floating the image to the right of the screen 

img {
  float: right;
  width: 400px;
  height: 200px;
} */


/*  the following is used for making the first paragraph and image a grid display with the p 1st and the img 2nd*/
#first-section, #third-section, #fourth-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 6rem;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

h2 {
  line-height: 1.2
}
    
p {
    text-align: center;
    color: black;
}

#main {
  margin: 30px 10px;
  padding: 50px;
  background: #eee;
}

#more-info {
  text-align: center;
}

@media (max-width:460px) {
  h1 {
    font-size: 0.5rem;
    line-height: 1.2
  }
  
    #main {
    margin: 0;
  }
}